.shippingContainer {
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-background-color);
	position: fixed;
	top: 0%;
	left: 0%;
}

.shippingBox {
  position: relative;
	top: 4vmax;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--secondary-background-color);
	width: 25vw;
	height: 80vh;
	border-radius: 10px;
	box-sizing: border-box;
	overflow: hidden;
}

.shippingHeading {
	text-align: center;
	color: var(--primary-background-color);
	font: 600 1.5vmax var(--primary-heading-font);
	width: 50%;
	margin: 2vmax auto;
}

.shippingForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0vmax auto;
	padding: 2vmax;
	justify-content: center;
	height: 70%;
	transition: all 0.5s;
}

.shippingForm > div {
	display: flex;
	width: 100%;
	align-items: center;
}

.shippingForm > div > input,
.shippingForm > div > select {
	margin-bottom: 1.3vmax;
	padding: 1vmax 3vmax;
	padding-right: 1vmax;
	width: 100%;
	box-sizing: border-box;
	border: none;
	border-radius: 10px;
	background-color: var(--primary-text-color);
	font: 400 1vmax var(--secondary-heading-font);
}

.shippingForm > div > svg {
	margin-bottom: 1vmax;
	position: absolute;
	transform: translateX(1vmax);
	font-size: 1.4vmax;
	color: var(--secondary-text-color);
}

.shippingBtn {
	border: none;
	cursor: pointer;
	color: white;
	transition: all 0.5s;
	background-color: var(--primary-background-color);
	font: 500 1vmax var(--primary-heading-font);
	border-radius: 10px;
	padding: 0.6vmax 2vmax;
	margin: 1.2vmax 0;
	outline: none;
}

.shippingBtn:hover {
	background-color: var(--primary-background-color);
	opacity: 0.8;
}

@media screen and (max-width: 600px) {
	.shippingBox {
		width: 90vw;
    height: 70vh;
	}

	.shippingForm {
		padding: 4vmax;
	}

  .shippingHeading {
    font-size: 2.6vmax;
  }

	.shippingForm > div > input,
  .shippingForm > div > select {
		margin-bottom: 2vmax;
		border-radius: 15px;
		padding: 2vmax 5vmax;
		font-size: 1.7vmax;
	}

	.shippingForm > div > svg {
		transform: translateX(1.5vmax);
		margin-bottom: 2vmax;
		font-size: 2.2vmax;
	}

	.shippingBtn {
		padding: 1vmax 3vmax;
		font-size: 1.8vmax;
	}
}
