.profileContainer {
	display: flex;
	height: 100vh;
	width: 100vw;
	max-width: 100%;

	position: fixed;
	top: 0%;
	left: 0%;
	background-color: var(--secondary-background-color);
}

.profileContainer > div {
	display: flex;
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profileContainer > div:first-child > h1 {
	color: var(--primary-background-color);
	font: 600 2.2vmax var(--primary-heading-font);
	transform: translateX(-10vmax) translateY(-2vmax);
}

.profileContainer > div:first-child > img {
	width: 15vmax;
	border-radius: 100%;
	transition: all 0.5s;
}

.profileContainer > div:first-child > a {
	text-decoration: none;
	border: none;
	cursor: pointer;
	color: white;
	transition: all 0.5s;
	background-color: var(--primary-background-color);
	font: 500 1vmax var(--primary-heading-font);
	border-radius: 10px;
	padding: 0.8vmax 2vmax;
	margin: 2vmax 0;
	outline: none;
}

.profileContainer > div:first-child > a:hover {
	opacity: 0.8;
}

.profileContainer > div:last-child {
  justify-content: space-around;
  box-sizing: border-box;
  padding: 5vmax;
  align-items: start;
}

.profileContainer > div:last-child > div > h4 {
  color: var(--primary-background-color);
  font: 500 1.2vmax var(--secondary-paragraph-font);
}

.profileContainer > div:last-child > div > p {
  color: var(--secondary-text-color);
  font: 400 1vmax var(--primary-paragraph-font);
  margin: 0.3vmax 0;
  opacity: 0.7;
}

.profileContainer > div:last-child > div:last-child {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.profileContainer > div:last-child > div:last-child > a {
  text-align: center;
  text-decoration: none;
	border: none;
	cursor: pointer;
	color: white;
	transition: all 0.5s;
	background-color: var(--secondary-text-color);
	font: 500 1vmax var(--primary-heading-font);
	border-radius: 10px;
	padding: 0.8vmax 2vmax;
	margin: 0.4vmax 0;
	outline: none;
}

.profileContainer > div:last-child > div:last-child > a:hover {
  background-color: var(--primary-background-color)
}

@media screen and (max-width: 600px) {
  .profileContainer {
    flex-direction: column;
  }

  .profileContainer > div:first-child > h1 {
    font-size: 3.2vmax;
    transform: translateY(-2vmax);
  }

  .profileContainer > div:first-child > a {
    font-size: 1.7vmax;
    padding: 1.5vmax 2vmax;
  }

  .profileContainer > div:last-child {
    align-items: center;
    text-align: center;
  }

  .profileContainer > div:last-child > div > h4 {
    font-size: 1.9vmax;
  }

  .profileContainer > div:last-child > div > p {
    font-size: 1.8vmax;
  }

  .profileContainer > div:last-child > div:last-child > a {
    font-size: 1.8vmax;
    margin: 0.6vmax 0;
    padding: 1.4vmax 2vmax;
  }
}